.bar {
    padding: 0;
}

.title {
    margin: 0 1em;
}

.navButtonList {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    list-style-type: none;
    padding-left: 0;
}

.clickable {
    padding: 1em;
}

.selectedButton {
    font-weight: bold;
}

.navLink {
    text-decoration: inherit;
    color: inherit;
    outline: 0;
}

.listItem:hover {
    color: gray;
}

.itemsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchBar {
    flex-grow: 1;
    flex-basis: 15em;
}

@media (min-width: 1200px){
    .itemsContainer {
        width: 1230px;
        margin: 0 auto;
    }
}